#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ol {
  text-align: left;
}

.card {
  padding: 2em;
}

dl {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
}

dt {
  margin: 0;
  font-weight: bold;
  text-align: right;
  flex: 0 0 calc(50% - 10px);
}

dd {
  margin: 0;
  flex: 0 0 calc(50% - 10px);
}
